[33mcommit 434046e6be2a226084a752d31b1b8efb84dc0d36[m[33m ([m[1;36mHEAD -> [m[1;32mmain[m[33m)[m
Author: Negm <youssefkhalednegm24@gmail.com>
Date:   Sat Jul 27 22:03:15 2024 +0300

    Css changes for mobile phones responsiveness

[33mcommit 1eb0151e674d898d6f97bc43f98055d81c124654[m[33m ([m[1;31morigin/main[m[33m)[m
Author: Negm <youssefkhalednegm24@gmail.com>
Date:   Sat Jul 27 14:38:48 2024 +0300

    Initial commit

[33mcommit e5b8ebb0437f8e87954e0eedbf8ef4f33fce808c[m
Author: Negm <youssefkhalednegm24@gmail.com>
Date:   Sat Jul 27 14:25:01 2024 +0300

    Initial commit

[33mcommit 1fcad5cf51cf689b2d263374ce32afd26a7828e5[m
Author: Negm24 <162505567+Negm24@users.noreply.github.com>
Date:   Sat Jul 27 14:22:38 2024 +0300

    Initial commit
